@model List<Branch_Category>
<div class="container-fluid align-items-center justify-content-center">
    <div class="row align-items-center justify-content-center">
        <a href="/Products/Index">Categories</a>
    </div>
    <div class="row align-items-center justify-content-center">
        <h1>Find the best idea in your branch</h1>
    </div>
    <div class="row align-items-center justify-content-center">
        @if (Model.Count() > 6)
        {
            <div class="col-md-5" id="tab">
                @{Boolean gray = true; }
                @for (int i = 0; i < 7; i++)
                {
                    int ID = Model[i].BranchID - 1;

                    if (gray)
                    {
                        gray = false;
                        <div class="row" id="gray">
                            &nbsp; @Model[i].Name
                            <a asp-controller="Products" asp-action="Index" asp-route-BranchID="@ID" id="C_arrow"><i>&#10132 </i></a>
                        </div>
                    }
                    else
                    {
                        gray = true;
                        <div class="row">
                            &nbsp; @Model[i].Name
                            <a asp-controller="Products" asp-action="Index" asp-route-BranchID="@ID" id="C_arrow"><i>&#10132 </i></a>
                        </div>
                    }

                }
            </div>
            <div class="col-md-5" id="tab">
                @{ gray = true; }
                @for (int i = 7; i < Model.Count(); i++)
                {
                    int ID = Model[i].BranchID - 1;

                    if (gray)
                    {
                        gray = false;
                        <div class="row" id="gray">
                            &nbsp; @Model[i].Name
                            <a asp-controller="Products" asp-action="Index" asp-route-BranchID="@ID" id="C_arrow"><i>&#10132 </i></a>
                        </div>
                    }
                    else
                    {
                        gray = true;
                        <div class="row">
                            &nbsp; @Model[i].Name
                            <a asp-controller="Products" asp-action="Index" asp-route-BranchID="@ID" id="C_arrow"><i>&#10132 </i></a>
                        </div>
                    }

                }
            </div>
        }
        else
        {
            <div class="row align-items-center justify-content-center">
                @{Boolean gray = true; }
                @for (int i = 0; i < Model.Count(); i++)
                {
                    int ID = Model[i].BranchID - 1;
                        if (gray)
                        {
                            gray = false;
                        <div class="row" id="gray">
                            &nbsp; @Model[i].Name
                            <a asp-controller="Products" asp-action="Index" asp-route-BranchID="@ID" id="C_arrow"><i>&#10132 </i></a>
                        </div>
                    }
                    else
                    {
                        gray = true;
                        <div class="row">
                            &nbsp; @Model[i].Name
                            <a asp-controller="Products" asp-action="Index" asp-route-BranchID="@ID" id="C_arrow"><i>&#10132 </i></a>
                        </div>
                    }

                }
            </div>

        }
    </div>
</div>