@model PageContent
<div class="container-fluid">
    <div class="row align-items-center justify-content-center">

        <a id="smallFont" href="https://www.google.com">@Model.Texts[7]</a>

    </div>
    <div class="row align-items-center justify-content-center">
        <h2>@Model.Texts[6] </h2>
    </div>
    <div class=" themes_catalog">
        <div class="row align-items-center justify-content-center test">


            @for (int y = 0; y < 3; y++)
            {
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="Recipes/Index">
                            <img src='@Model.Photos[0]' alt="Lights" id="responsive">
                            <div class="image-block">
                                <img src='@Model.Photos[y+1]' alt="easter" id="responsive">
                            </div>
                            <div class="themes_caption">
                                <p id="themes_title"> @Model.Texts[y]  <i id="arrow">&#10132 </i> </p>
                            </div>
                        </a>
                    </div>
                </div>

            }
        </div>
        <div class="row align-items-center justify-content-center test">
            @for (int y = 3; y < 6; y++)
            {
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="Recipes/Index">
                            <img src='@Model.Photos[0]' alt="Lights" id="responsive">
                            <div class="image-block">
                                <img src='@Model.Photos[y+1]' alt="easter" id="responsive">
                            </div>
                            <div class="themes_caption">
                                <p id="themes_title"> @Model.Texts[y]  <i id="arrow">&#10132 </i> </p>
                            </div>
                        </a>
                    </div>
                </div>

            }
        </div>
    </div>
    <div class="row items-align-center justify-content-center">
        <button class="red_button"> load more <i class="arrowDown"></i> </button>
    </div>
</div>
