@model Product
@{string s = "../Products/SpecificProduct/" + Model.ArticleNumber;}

@ViewBag.SpotlightPath

<div class="thumbnail">
    <a href="@s">
        <img src='@ViewBag.SpotlightPath' alt="Allspice ground" id="responsive">
        <div class="text-block">
            <p>Product</p>
        </div>
        <div class="spotlight_caption">
            <p id="spotlight_title"> @Model.Name</p>
            <p id="subtitle">@Model.NormalCategory[0].Normal_Category.Name </p>
        </div>
    </a>
</div>