@using WEBProject.Data;
@using (var db = new WebsiteContext())
{
<!DOCTYPE HTML>
<html>
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/CategoriesSideTab.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#toggle").click(function () {
                $("#moreCategories").toggle(1000);
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">
                @{
                    if (ViewData["Branch"] == 0)
                    {
                        db.BranchCategories.Where(s => s.branchID == 1).FirstOrDefault();
                    }
                    else
                    {
                        db.BranchCategories.Where(s => s.branchID == ViewData["Branch"]).FirstOrDefault();

                    }
                }
                <i class="arrow"></i>
            </button>
            <div id="myDropdown" class="dropdown-content">
                <a href="#branch1">@db.BranchCategories.Where(s => s.branchID == 1).FirstOrDefault();</a>
                <a href="#branch2">@db.BranchCategories.Where(s => s.branchID == 2).FirstOrDefault();</a>
                <a href="#branch3">@db.BranchCategories.Where(s => s.branchID == 3).FirstOrDefault();</a>
                <a href="#branch4">@db.BranchCategories.Where(s => s.branchID == 4).FirstOrDefault();</a>
                <a href="#branch5">@db.BranchCategories.Where(s => s.branchID == 5).FirstOrDefault();</a>
                <a href="#branch6">@db.BranchCategories.Where(s => s.branchID == 6).FirstOrDefault();</a>
                <a href="#branch7">@db.BranchCategories.Where(s => s.branchID == 7).FirstOrDefault();</a>
                <a href="#branch8">@db.BranchCategories.Where(s => s.branchID == 8).FirstOrDefault();</a>
                <a href="#branch9">@db.BranchCategories.Where(s => s.branchID == 9).FirstOrDefault();</a>
                <a href="#branch10">@db.BranchCategories.Where(s => s.branchID == 10).FirstOrDefault();</a>
                <a href="#branch11">@db.BranchCategories.Where(s => s.branchID == 11).FirstOrDefault();</a>
                <a href="#branch12">@db.BranchCategories.Where(s => s.branchID == 12).FirstOrDefault();</a>
                <a href="#branch13">@db.BranchCategories.Where(s => s.branchID == 13).FirstOrDefault();</a>
                <a href="#branch14">@db.BranchCategories.Where(s => s.branchID == 14).FirstOrDefault();</a>
            </div>
        </div>

        <script>
            /* When the user clicks on the button,
            toggle between hiding and showing the dropdown content */
            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }

            // Close the dropdown if the user clicks outside of it
            window.onclick = function (event) {
                if (!event.target.matches('.dropbtn')) {
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }
        </script>

        <div class="row title">
           Type
        </div>
        @List<string> list = db.WebsiteContext.Where(s => s.branchID == viewData["Branch"])
        @foreach (var type in list)
         {
             <div class="row">
                <label class="cbcontainer">
                 Vegetable
                 <input type="checkbox">
                 <span class="checkmark"></span>
                </label>
             </div>
         }
    <div class="row">
    <label class="cbcontainer">
        Fruit
        <input type="checkbox">
        <span class="checkmark"></span>
    </label>
</div>
<div class="row">
    <label class="cbcontainer">
        Potato
        <input type="checkbox">
        <span class="checkmark"></span>
    </label>
</div>
<div class="row">
    <label class="cbcontainer">
        Garlic, Peppers
        <input type="checkbox">
        <span class="checkmark"></span>
    </label>
</div>
<div class="row">
    <label class="cbcontainer">
        Juices, Smoothies
        <input type="checkbox">
        <span class="checkmark"></span>
    </label>
</div>
<div class="row">
    <label class="cbcontainer">
        Fruit, Salad
        <input type="checkbox">
        <span class="checkmark"></span>
    </label>
</div>
<div id = "moreCategories" >
    < div class="row">
        <label class="cbcontainer">
            1
            <input type = "checkbox" >
            < span class="checkmark"></span>
        </label>
    </div>
    <div class="row">
        <label class="cbcontainer">
            2
            <input type = "checkbox" >
            < span class="checkmark"></span>
        </label>
    </div>
    <div class="row">
        <label class="cbcontainer">
            3
            <input type = "checkbox" >
            < span class="checkmark"></span>
        </label>
    </div>
    <div class="row">
        <label class="cbcontainer">
            4
            <input type = "checkbox" >
            < span class="checkmark"></span>
        </label>
    </div>
</div>
<a id = "toggle" > +show all Categories</a>
</div>
</body>
</html>
        }
