@model Product
<div class="container-fluid greenBackground">
    <div class="row" id="HeaderRow">
      <!--Header-->
    </div>
    <div class="row justify-content-flex-start align-items-center">
        <p> Home &#62; Products &#62; @Model.NormalCategory.ElementAt(0).Normal_Category.Name &#62; <content id= "footer_title"> @Model.Name </content> </p>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h1> @Model.Name</h1>
            <p>  @Model.Description</p>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row ">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <p><b>Category </b>  @Model.NormalCategory.ElementAt(0).Normal_Category.Name &nbsp; <b> Contents </b>  @Model.Contents </p>
        </div>
    </div>
    <div class="col-md-2">
    </div>
    <div class="row ">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="container">
                <div class="row">
                    <h2> Product Details </h2>
                </div>
                @{bool b = true; }
                @foreach (Product_Details p in Model.Details)
                {
                    if (b)
                    {
                        b = false;
                    <div class="row" id="productRow">
                        <p> @p.ProductDetails</p>
                    </div>
                    }
                    else
                    {
                        b = true;
                    <div class="row">
                        <p> @p.ProductDetails</p>
                    </div>
                    }
                }
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row justify-content-center align-items-center" id="space_between">
        <div class="col-md-6">
            <i> looking for more specifications? </i>
        </div>
        <div class="col-md-6">
            <a href="~/pdf/Certificate.pdf" target="_blank" download>
                <div class="button"> Download specsheet </div>
            </a>

        </div>
    </div>
</div>

